.outerbox{
  background-color: darkcyan;
  min-height: 400px;
  display: flex;
  /* justify-content:center; */
  align-items:flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
.box{
  width: 150px;
  height: 50px;
  background-color: aqua;
  border: 2px solid white;
  
}






.container{
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  
}
p{
  padding: 10px;
  
}

.p1{
  background-color: antiquewhite;
  flex: 1;
  order:3;
  
}

.p2{
  background-color: chartreuse;
  flex: 1;
  order:2;
  
}

.p3{
  background-color: darkgray;
  flex:2;
  order:1;
  
}